{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron text-center">
        <h3>GeTrain Anaysayfasına Hoşgeldiniz</h3>
        <p>Bu sitede şirketler olarak ihtiyacınız olan eğitimi çalışanlarınıza verebilmek için,
        eğitmen bulmaya yönelik ilanlar verebilirsiniz.Ya da eğitmen olarak yeteneklerinizi gösterdiğiniz ilanlar verebilirsiniz</p>
        
    
    </div>

    <p> 
        {% if request.user.is_authenticated %}
            Giriş Yapılmış,{{request.user.username}}
        
        {% else %}
            Giriş Yapılmamış
        {% endif %}





    </p>


{% endblock body %} <h3>Anasayfa</h3>